:root {
  --bdazzled-blue: #3d5a80ff;
  --dark-sky-blue: #98c1d9ff;
  --light-cyan: #e0fbfcff;
  --burnt-sienna: #ee6c4dff;
  --gunmetal: #293241ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--light-cyan);
}

.header {
  text-align: center;
  padding: 20px;
  background-color: var(--gunmetal);
  color: var(--light-cyan);
}